<?xml version="1.0" encoding="UTF-8"?>
<launch>

<rosparam file="$(find swerve_steering_controller)/config/ros_controllers.yaml" command="load"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" args="swerve_steering_controller joint_state_controller"/>


</launch>

