<?xml version="1.0" encoding="UTF-8"?>
<launch>


<param name="robot_description" textfile="$(find swerve_steering_controller)/test/urdf/robot.urdf" />

<include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="world_name" default="worlds/empty.world"/>
</include>

<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0"
      respawn="false" output="screen" />

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
<node name="tfpublisher" pkg="swerve_steering_controller" type="odompublisher.py"/>

<include file="$(find swerve_steering_controller)/launch/controller.launch">
</include>




</launch>

